# Dependency directories
node_modules/
**/node_modules/

# Environment files
.env
.env.*
!.env.example
**/.env
**/.env.*
!**/.env.example

# Next.js build output
.next/
**/.next/

# Other build folders
dist/
**/dist/
build/
**/build/
out/
**/out/

# IDE/Editor folders and OS files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Log files
*.log
